@page
@model UfficioSinistri.Pages.ChiamateModel
@{
    ViewData["Title"] = "Elenco Sinistri";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="./Chiamate"
       asp-page-handler="ExportCsv"
       class="btn btn-sm btn-outline-secondary">
        📄 CSV (tutti)
    </a>
    <a asp-page="./Chiamate"
       asp-page-handler="ExportPdf"
       class="btn btn-sm btn-outline-secondary">
        📑 PDF (tutti)
    </a>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>HistoryCallId</th>
            <th>Nome Comunicato</th>
            <th>Rubrica</th>
            <th>Evento</th>
            <th>Targa</th>
            <th>Riassunto</th>
            <th>Dettagli</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.Chiamate!)
        {
            <tr>
                <td>@c.HistoryCallId</td>
                <td>@c.NomeComunicato</td>
                <td>@c.CorrispondenzaRubrica</td>
                <td>@c.Evento</td>
                <td>@c.Targa</td>
                <td>@c.Riassunto</td>
                <td>
                    <!-- Dettagli -->
                    <a asp-page="/Chiamate/Details"
                        asp-route-id="@c.Id"
                        class="btn btn-sm btn-primary">
                        🔍
                    </a>

                    <!-- Export singolo CSV -->
                    <a asp-page="./Chiamate"
                       asp-page-handler="ExportCsv"
                       asp-route-id="@c.Id"
                       class="btn btn-sm btn-outline-secondary">
                        CSV
                    </a>

                    <!-- Export singolo PDF -->
                    <a asp-page="./Chiamate"
                       asp-page-handler="ExportPdf"
                       asp-route-id="@c.Id"
                       class="btn btn-sm btn-outline-secondary">
                        PDF
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
